body {
    background: #333333;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
html, body {
    height: 100%;
}
a {
    font-family: miBold;
    text-decoration: none;
    color: #CCCCCC;
    width: 8em;
}
#homebkg { 
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}
#bkg {
    background: url(icons/ICObkg.svg) no-repeat center;
    height: 85%;
    width: 100%;
    max-width: 35em;
    margin: auto; 
}
#home {
    float: left;
    height: 100%;
    background-color: #333333;
    width: 8em;
}
#icomenu {
    background: url(icons/ICOserver.svg) no-repeat;
    background-size: 98% 90%;
    margin-top: 0.5em;
    height: 12%;
    border-bottom: 0.05em solid #CCCCCC;
}
#menu, #albarans_options, #factura_options, #presupuesto_options {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;    
}
#albarans_options, #factura_options, #presupuesto_options {
    background-color: #4D4D4D;
    display: none;    
}
#menu {
    height: 87%;
    overflow: hidden;
}
#menu_albaran, #new_albaran, #index_albaran, #menu_factura, #new_factura, #index_factura, #menu_presupuesto, #new_presupuesto, #index_presupuesto {
    display: block;
    padding-top: 70%;
    padding-bottom: 8%;
    
}
#menu_albaran {
    background: url(icons/ICOalbaran.svg) no-repeat top;
    background-size: 50% 80%; 
}

#menu_factura {
    background: url(icons/ICOfactura.svg) no-repeat top;
    background-size:54% 80%;
}
#menu_presupuesto {
    background: url(icons/ICOpresup.svg) no-repeat top;
    background-size:50% 90%; 
    margin-top: 0.2em;
    font-size: 0.9em;
    margin: auto;
}
#menu_albaran, #menu_factura {
    margin-top: 1em;
}
#new_albaran, #new_factura, #new_presupuesto {
    background: url(icons/ICOnuevo.svg) no-repeat top;
    background-size: 35% 88%;
    padding-top: 50%;    
    font-size: 0.9em;
    width: 100%;
}
#index_albaran, #index_factura, #index_presupuesto {
    background: url(icons/ICOtodos.svg) no-repeat top;
    background-size: 40% 88%;
    padding-top: 50%;
    font-size: 0.9em;
    width: 100%;
}



/*---- HOVER ----*/
#menu_albaran:hover {
    background: url(icons/ICOalbaran_hover.svg) no-repeat top;
    background-size: 50% 80%; 
    color: white;
    cursor: pointer;
}
#menu_factura:hover {
    background: url(icons/ICOfactura_hover.svg) no-repeat top;
    background-size:54% 80%;
    color: white;
    cursor: pointer;
}
#menu_presupuesto:hover {
    background: url(icons/ICOpresup_hover.svg) no-repeat top;
    background-size:50% 90%; 
    color: white;
    cursor: pointer;
}
#new_albaran:hover, #new_factura:hover, #new_presupuesto:hover {
    background: url(icons/ICOnuevo_hover.svg) no-repeat top;
    background-size: 40% 88%;
    padding-top: 50%;    
    color: #333333;
    background-color: #F7931E;
}
#index_albaran:hover, #index_factura:hover, #index_presupuesto:hover {
    background: url(icons/ICOtodos_hover.svg) no-repeat top;
    background-size: 45% 88%;
    padding-top: 50%;
    color: #333333;
    background-color: #F7931E;
}