body {
    background: #333333;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
html, body {
    height: 100%;
}
a {
    font-family: miBold;
    text-decoration: none;
    color: #CCCCCC;
    width: 7.5em;
}
#homebkg { 
    float: right;
    width: calc(100% - 7.5em);
    height: 100%;
    background-color: white;
    overflow: scroll;
}
#bkg {
    background: url(icons/ICObkg.svg) no-repeat center;
    background-size: 60%;
    height: 90%;
    width: 70%;    
    margin: auto;      
}
#home {
    float: left;
    height: 100%;
    background-color: #333333;
    width: 7.5em;
}
#icomenu {
    background: url(icons/ICOserver.svg) no-repeat;
    background-size: 98% 90%;
    margin-top: 0.5em;
    height: 7.5em;
    border-bottom: 0.05em solid #CCCCCC;
    display: block;
    color: transparent;
}
#logout {
    display: block;
    background: url(icons/ICOlogout.svg) no-repeat bottom;
    background-size: 100% 80%;
    height: 4em;
    margin-bottom: 2em;
    color: transparent;
}
#menu, #albarans_options, #factura_options, #presupuesto_options {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;    
}
#albarans_options, #factura_options, #presupuesto_options {
    background-color: #4D4D4D;
    display: none;    
}
#menu {
    height: calc(100% - 14.2em);
    overflow: hidden;
}
#menu_albaran, #new_alb, #index_albaran, #menu_factura, #new_fact, #index_factura, #menu_presupuesto, #new_pres, #index_presupuesto {
    display: block;   
    padding-bottom: 0.4em;
    font-size: 0.9em;
    margin: auto;    
}
#menu_albaran {
    background: url(icons/ICOalbaran.svg) no-repeat top;
    background-size: 50% 80%; 
    padding-top: 5em;
}

#menu_factura {
    background: url(icons/ICOfactura.svg) no-repeat top;
    background-size:52% 80%;
    padding-top: 4.7em;
}
#menu_presupuesto {
    background: url(icons/ICOpresup.svg) no-repeat top;
    background-size:50% 90%; 
    margin-top: 0.5em;
    padding-top: 5em;
}
#menu_albaran, #menu_factura {
    margin-top: 1em;
}
#new_alb, #new_fact, #new_pres {
    background: url(icons/ICOnuevo.svg) no-repeat top;
    background-size: 35% 88%;
    padding-top: 4.3em;    
    font-size: 0.8em;
    width: 100%;
}
#index_albaran, #index_factura, #index_presupuesto {
    background: url(icons/ICOtodos.svg) no-repeat top;
    background-size: 40% 88%;
    padding-top: 4.3em;
    font-size: 0.8em;
    width: 100%;
}



/*---- HOVER ----*/
#menu_albaran:hover {
    background: url(icons/ICOalbaran_hover.svg) no-repeat top;
    background-size: 50% 80%; 
    color: white;
    cursor: pointer;
}
#menu_factura:hover {
    background: url(icons/ICOfactura_hover.svg) no-repeat top;
    background-size:52% 80%;
    color: white;
    cursor: pointer;
}
#menu_presupuesto:hover {
    background: url(icons/ICOpresup_hover.svg) no-repeat top;
    background-size:50% 90%; 
    color: white;
    cursor: pointer;
}
#new_alb:hover, #new_fact:hover, #new_pres:hover {
    background: url(icons/ICOnuevo_hover.svg) no-repeat top;
    background-size: 35% 88%;
    padding-top: 4.3em;   
    color: #333333;
    background-color: #F7931E;
}
#index_albaran:hover, #index_factura:hover, #index_presupuesto:hover {
    background: url(icons/ICOtodos_hover.svg) no-repeat top;
    background-size: 40% 88%;
    padding-top: 4.3em;
    color: #333333;
    background-color: #F7931E;
}
#logout:hover {
    background: url(icons/ICOlogout_hover.svg) no-repeat bottom;
    background-size: 100% 80%;
    height: 4em;
    margin-bottom: 0.5em;
    cursor: pointer;
}
